<%- include('layout/top') %>


<form method="post">
    <input type="text" name="name" placeholder="A nice gamer chair">
    <input type="text" name="description" placeholder="A nice gamer chair">
    <select name="category" id="whatever">
        <option value="CPU">Carros</option>
        <option value="MEMORIA">Moto</option>
    </select>
    <input type="number" name="price" placeholder="A nice gamer chair">
    <input type="number" name="stock" placeholder="A nice gamer chair">

    <button type="submit">Create</button>
</form>

<%- include('layout/bottom') %>