<%- include('layout/top') %>

<h1><%= title %></h1>

<form method="post">
  <input type="text" placeholder="Name" required name="name">
  <textarea placeholder="Description" required name="description"></textarea>
  <button type="submit" style="display: block;">Add</button>
</form>

<%- include('layout/bottom') %>