<%- include('layout/top') %>

<h1><%= title %></h1>
<p class="store-description">
  Welcome to "IT Stuff" - your premier destination for all your hardware needs, where every project finds its perfect piece! Situated at the heart of the bustling commercial district, IT Stuff is more than just a hardware store; it's a haven for craftsmen, DIY enthusiasts, and professionals alike.

  Step through our welcoming doors and immerse yourself in a world of endless possibilities. The expansive aisles are lined with shelves stocked high with every tool, fastener, and material you could ever imagine. From sturdy hammers to precision power tools, we've got everything you need to tackle any project, big or small.

  Embark on a journey of exploration as you browse through our vast selection of hardware supplies. Need to fix that leaky faucet? We've got washers, pipes, and wrenches galore. Planning to spruce up your garden? Our gardening section boasts a variety of seeds, fertilizers, and landscaping tools to help you create the outdoor oasis of your dreams.

  But IT Stuff isn't just about nuts and bolts – it's a treasure trove of inspiration and expertise. Our friendly and knowledgeable staff are always on hand to offer expert advice, whether you're a seasoned pro or a novice DIYer. With their guidance, you'll be able to turn your vision into reality, one project at a time.

  And when it comes to convenience, IT Stuff has you covered. Can't find what you're looking for? Just ask one of our helpful associates, and they'll be happy to track it down for you. Plus, with our convenient online ordering and delivery service, you can get the supplies you need without ever leaving the comfort of your home.

  At IT Stuff, we believe that every project is unique, and we're here to help you make it a reality. So whether you're a homeowner, contractor, or hobbyist, come discover the endless possibilities waiting for you at IT Stuff – where every project finds its perfect piece!
</p>

<%- include('layout/bottom') %>