<h1><%= title %></h1>

<form method="post">
  <input style="display: block;" type="text" placeholder="name" required name="name">
  <textarea placeholder="Description" required name="description"></textarea>
  <select name="category" id="category" required name="category" style="display: block;">
    <option value="">Choose a Category</option>
    <%categories.forEach(category=>{ %>
    <option value="<%= category._id %>"><%= category.name %></option>
    <% }) %>
  </select>
  <input style="display: block;" type="number" placeholder="Price" required name="price">
  <input style="display: block;" type="number" placeholder="Stock" required name="stock">
  <button type="submit">Update</button>
</form>