<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='../stylesheets/style.css' />
</head>

<body>
  <div class="sidebar">
    <ul class="top-ul">
      <li><a href="/">Home</a></li>
      <li><a href="/items">Items</a></li>
      <li><a href="/categories">Categories</a></li>
    </ul><br><br>
    <p>Add</p>
    <ul class="bottom-ul">
      <li><a href="">New Item</a></li>
      <li><a href="">New Category</a></li>
    </ul>
  </div>
  <main class="main">